:root {
    --height-size1: 15%;
    --height-size2: 30%;
    --height-size3: 45%;
    --height-size4: 100%;

}

.App {
    font-family: 'Oxygen', sans-serif;
    height: 100%;
    background: rgb(238, 69, 64);
    background: linear-gradient(180deg,
            rgba(238, 69, 64, 1),
            rgba(199, 44, 65, 1) ,
            rgba(128, 19, 54, 1),
            rgba(81, 10, 50, 1) ,
            rgba(45, 20, 44, 1) );
}